name = "services"
account_id = "a0b35b8929c76ce364f209c5ffce3ddd"
compatibility_date = "2022-01-23"
main = "./src/index.ts"
send_metrics = false

# For production environment, use '-e production'
[env.production]
zone_id = "a0b35b8929c76ce364f209c5ffce3ddd"
routes = ["*whoami.wwc.nearlyrandombytes.dev/*", "*services.wwc.nearlyrandombytes.dev/*"]
vars = { WORKER_ENV = "production" }
r2_buckets = [
	{ binding = "WAKEWORD_TRAINING_BUCKET", bucket_name = "assist-wakeword-training-data", preview_bucket_name = "assist-wakeword-training-data-test" },
]

# For dev environment, use '-e dev'
[env.dev]
workers_dev = true
vars = { WORKER_ENV = "dev" }
r2_buckets = [
	{ binding = "WAKEWORD_TRAINING_BUCKET", bucket_name = "assist-wakewordqtraining-data", preview_bucket_name = "assist-wakeword-training-data-test" },
]
